@import "tailwindcss";
:root {
  --breakpoint-xl: 100rem;
  --color-bg-dark: #0D1117;
  --color-primary: #2563EB;       /* Vivid Blue */
  --color-primary-dark: #1E40AF;  /* Deeper Blue variant */

  /* Text Colors */
  --color-text-light: #F9FAFB;
  --color-text-muted: #9CA3AF;

  /* Border and UI Elements */
  --color-border: #334155;       /* Slate Gray */
  --color-hover-bg: #E0F2FE;     /* Light Blue Gray */

  /* Status Colors */
  --color-success: #10B981;      /* Emerald Green */
  --color-warning: #F59E0B;      /* Amber */
  --color-danger: #EF4444;       /* Rose Red */
}
html {
  scroll-behavior: smooth;
}
/* Prevent Chrome autofill from changing background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #374151 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}
